.yes-button {
    background-color: #ff4d79;  
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.no-button {
    background-color: #666666;   /* gray */
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
